[submodule "EcomAPI"]
	path = EcomAPI
	url = https://github.com/Deeku-Zeus/EcomAPI.git
[submodule "MediaPlayerBackend"]
	path = MediaPlayerBackend
	url = https://github.com/Deeku-Zeus/MediaPlayerBackend.git
[submodule "MediaPlayerFrontend"]
	path = MediaPlayerFrontend
	url = https://github.com/Deeku-Zeus/MediaPlayerFrontend.git
